@import './variables.scss';
@import './_mixins.scss';
@import './_transition.scss';
@import './_svgicon.scss';
@import './vuetify.scss';

html {
  height: 100%;
  overflow-y: auto;
}

body {
  height: 100%;
  overflow-y: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: inline-block;
  vertical-align: middle;
}

#app {
  height: 100%;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}



